<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assigna" />
    <!--css link-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/site.css" />
    <!-- title -->
    <title>@ViewBag.Title - Assessment</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <nav class="header_content container flex">
            <h3 class="app_logo">ASSESSMENT</h3>
            <div class="pages">
                @if (@ViewBag.Title == "Home")
                {
                    <a href="@Url.Action("index","calculation")" class="pg_link link_button" role="link">Calculation</a>
                }
                else
                {
                    <a href="@Url.Action("index","home")" class="pg_link link_button" role="link">Home</a>
                }
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <!-- scripts -->
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
